h1 {
	text-align: center;
}

input {
	margin: 10px auto;
	display: block;
}

#change-button {
	padding: 15px;
	border-radius: 15px;
	background-color: #b1d1ff;
	display: block;
	width: fit-content;
	margin: 10px auto;
	cursor: pointer;
	box-shadow: 0 0 5px #000;
	font-weight: bold;
	font-size: 1.3em;
	transition: 0.7s ease box-shadow;
}

#change-button:hover, #change-button:active {
	box-shadow: 0 0 15px #000;
}

#color-square {
	width: 90%;
	/*height: 100px;*/
	margin: 30px auto;
	background-color: #000;
}