body {
	background-color: #00ffd0;
}

h1, img {
	float: left;
}

h1 {
	font-weight: bold;
	font-size: 5vw;
}

.Logo {
	margin: 15px 10px 15px 15px;
	width: 12.337vw;/* 135.125px;*/
	height: 9vw;/* 87.625px;*/
}

.navbar {
	background-color: white;
	border: 0px;
}

#collapsable-nav {
	/*text-align: center;*/
	/*position: relative;*/
}

#OptionsUl {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#nav-list {
	clear: left;
	margin-top: 15px
	text-align: center;
	/*margin: auto;*/
	/*display: inline-block;
	position: relative;*/
	/*position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;*/
	/*position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
}

#nav-list a{
	text-align: center;
}

#nav-list a:hover {
	background-color: #00ffff;
	border-radius: 15px;
}

#nav-list a span {
	font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #00ffd0;
}

#nav-list a {
	font-size: 1.5em;
}

#nav-list a span {
	font-size: 1em;
	margin-right: 5px;
}

#main-image {
	width: 100%;
	box-shadow: 50px 50px 50px black;
	border: 2px solid black;
}

@media (min-width: 768px) {

	.PurpleBack {
		background-color: #6600ff;
		border-radius: 15px;
		padding: 10px; 
	}
}
@media (max-width: 767px) {
	#nav-list {
		font-size: 14px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	#nav-list {
		font-size: 11px;
	}
	#nav-list a {
		padding: 1px 10px 1px 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#nav-list {
		font-size: 14px;
	}
	#nav-list a {
		padding: 1.5px 15px 1.5px 15px;
	}
}

@media (min-width: 1200px) {
	#nav-list {
		font-size: 17px;
	}
	#nav-list a {
		padding: 2px 18px 2px 18px;
	}
}
